@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@500&display=swap');
@import 'tailwindcss';

button {
  font-family: 'Vazirmatn', sans-serif;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
/* Add this to your global CSS file (e.g., globals.css) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}

::-webkit-scrollbar-thumb:active {
  background: #909090;
}

/* For Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #c1c1c1 transparent;
}
